@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(../fonts/Roboto-Regular.woff2) format('woff2');
}

html,
body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 10px;
}

*{
    box-sizing: border-box;
}

.arrangement {    
    display: flex;
    text-align: start;
    align-items: center;
    gap: 23px;
    padding: 35px 25px;
}

.arrangement-text {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.12;
}

.arrangement-text p:first-child {
    font-size: 2.4rem;
    line-height: 1.17;
    padding-bottom: 9px;
}